* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #292929; /*313131*/
    color: white;
}

header {
    text-align: center;
}

#pontos {
    width: 500px;
    margin: auto;  
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    margin: auto;  
    width: 540px;
    height: 540px;
    margin-top: 15px;
    padding: 5px;
    background-color: rgba(32, 32, 32, 0.466); 
    border-radius: 15px;
}

article {
    width: 500px;
    height: 500px;
    background-color: rgb(32, 32, 32); 
    margin: auto;
    margin-top: 5px;
}

.snake {
    background-color: #00ff00;
    width: 20px;
    height: 20px;
    position: absolute;
}

.apple {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
}